---
title : gallery
layout : tataletak.njk
---
<h1> Gallery</h1>
    <div class="container">
        <div class="container-img"><img class="responsive" src="/assets/img/img.png">
        <h4>Logo ITERA</h4>
        </div>
        <div class="container-img"><img class="responsive" src="/assets/img/img2.jfif">
        <h4>Gedung ITERA</h4>
        </div>
        <div class="container-img"><img class="responsive" src="/assets/img/img3.jfif">
        <h4>Embung ITERA</h4>
        </div>
    </div>