---
title : profile
layout : tataletak.njk
nama : MIA AUDINA
nim : 14117032
prodi : Teknik Informatika
---
<h2> Hallo nama aku </h2>
<h1> {{nama}} </h1>
<h2> NIM aku </h2>
<h1> {{nim}} </h1>
<h2> Program Studi aku </h2>
<h1> {{prodi}} </h1>