/*	navigasi */
nav ul {
	display: flex;
	list-style: none;
	border-bottom: 1px solid pink;
	padding: 1rem;
	box-shadow: 13px 12px 23px pink;
}

nav li {
	flex: 1;
}

nav li a {
	font-family: 'Arial';
	text-decoration: none;
	font-size: 25px;
	color: red;
}

/*	konten */
section {
	margin-left: 25%;
	word-break: break-word;
	padding-top: 2rem;
}

section h1 {
	font-family: 'Arial';
	font-size: 32px;
	color: red;
}

section h2 {
	font-family: 'Arial';
}

section p {
	font-family: 'Arial';
	color: red;
	font-size: 40px;
}

.container {
	display: flex;
	width: 100%;
	height: auto;
}

.container>div {
	background-color: pink;
	margin: 10px;
	padding: 85px;
	width: 85px;
	height: auto;
	text-align: center;
}

@media screen and (max-width : 768px) {
	body {
		background-color: blanchedalmond;
	}

	.container>div {
		width: 50px;
		height: auto;
		padding: 50px;
	}
}