--- 
layout: tataletak.njk 
namakamu: Hiskia Pulungan 
---



<html>
<head>
    <link rel="stylesheet" href="/assets/css/sugar.css">
</head>

<body>
    <h3>My name is</h3>
    <h1>{{namakamu}}</h1>
    <div class="flex-container">
        <img class="prof" src="/assets/img/1.jpg" alt="" srcset="">
        <div>Hiskia Perdamen Pulungan</div>
        <div>14117091</div>
        <div>26 Januari 1999</div>
    </div>
</body>

</html>