---
layout : tataletak.njk
gallery : Ini Adalah galeri

---

<h3> My name is </h3>
<h1> {{gallery}} </h1>

<img src = "/assets/img/gunung.jpg" height = "400px" width="600px">
<img src = "/assets/img/images.jpeg" >

