<nav>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/tentang/14117105">
                Tentang
            </a>
    <ul>
</nav>