<nav>
        <ul>
                <li>
                        <a href ="/">
                                 Home
                        </a>
                </li>

                 <li>
                       <a href ="/tentang/14117150">
                              Profile
                        </a>
                </li>

                <li>
                        <a href ="/galeri/gallery">
                                Gallery
                        </a>
                </li>


         </ul>
</nav>