---
layout : tataletak.njk
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/sugar.css">
    <title>Document</title>
</head>

<body>
    <div class="semua">
        <div ><img src="/assets/img/a.jpg"></div>
        <div ><img src="/assets/img/c.jpg" height=500px width=300px></div>
        <div ><img src="/assets/img/e.jpg" height=350px width=550px></div>
        <div ><img src="/assets/img/b.jpg"></div>
        <div ><img src="/assets/img/d.jpg" height=350px width=550px></div>
        
     </div>   
</body>

</html>