---
layout: tataletak.njk
namakamu: Afifah Dwikirani
nim: 14117105
ttl: Bandar Lampung, 11 November 1999
---
    <h1>About Me</h1>
    <p>Photo of me:</p>
        <img src="/foto/Dokumen 2_2.jpg" style="border-radius: 100%;  width: 300px; height: 300px">
    <h3>More Text</h3>
    <p>Saya adalah Mahasiswi ITERA Teknik Informatika
    </p>
    <div class="flex-container">
        <div class="flex-item1">
        <h2>Nama Saya</h2> 
        <hr width="50%" align="center">
        {{namakamu}}
        <br>
        (Dwikirani nya) digabung jangan dipisah 
        </div>
        <div class="flex-item2">
        <h2>Nomor Induk Mahasiswa</h2> 
        <hr width="50%" align="center">
        {{nim}}
        <br>
        Tingkat 3 Semester 6
        </div>
        <div class="flex-item3"> 
        <h2>Tempat Tanggal Lahir</h2>
        <hr width="50%" align="center">
        {{ttl}} 
        <br>
        Suku asli Palembang <br>
        Anak ke-2 dari 3 bersaudara
        </div>
    </div>

