<nav>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/profile/14117105">
                Profile
            </a>
        </li>
        <li>
            <a href="/gallery">
                Gallery
            </a>
        </li>
    <ul>
</nav>